$medium-width: 768px;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  cursor: pointer;
}


// コンテンツ
.icon {
  border-radius: 20px;
  width: 80px;
  height: 80px;
}

#home {

  h3 {
    @media screen and (max-width: $medium-width) {
      display: none;
    }
  }


  .main-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $medium-width) {
      display: none;
    }

    p {
      text-align: center;
      font-size: 3em;
    }
  }

  .bulletin-board {
    background-color: rgb(76, 83, 109);
    color: #fff;

    .board-header {
      @media screen and (min-width: $medium-width) {
        padding-left: 40px;
      }

      padding: 5px;
      border-bottom: 1px solid rgb(36, 41, 58);

      .destination {
        .place {
          font-size: 23px;
          font-weight: bold;
          letter-spacing: 0.1em;
        }
      }
    }

    .board-body {
      background-color: #222;

      @media screen and (min-width: $medium-width) {
        padding: 0 50px;
      }

      @media screen and (max-width: $medium-width) {
        padding: 0 5px;
      }

      .board-body-column {

        .type {
          font-size: 24px;
          color: greenyellow;
        }

        .time {
          font-size: 25px;
          color: orange;
        }

        .detail {
          display: inline-block;
          font-size: 22px;
        }

        [class*="col-"] {
          display: inline-block;

          // @media screen and (max-width: $medium-width) {
          //   padding-left: 0px;
          //   padding-right: 0px;
          // }
        }
      }
    }
  }

  .card-img-top {
    height: 240px;
  }
}

.marquee {
  overflow: hidden;

  $duration-speed: 6s;

  p {
    margin: 0;
    padding-left: 100%;
    display: inline-block;
    white-space: nowrap;
    background-color: transparent;
    -webkit-animation-name: marquee;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: $duration-speed;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: marquee;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: $duration-speed;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: marquee;
    -ms-animation-timing-function: linear;
    -ms-animation-duration: $duration-speed;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: marquee;
    -o-animation-timing-function: linear;
    -o-animation-duration: $duration-speed;
    -o-animation-iteration-count: infinite;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: $duration-speed;
    animation-iteration-count: infinite;

    &:after {
      content: "";
      white-space: nowrap;
      padding-right: 50px;
    }

  }

}


@-webkit-keyframes marquee {
  from {
    -webkit-transform: translate(0%);
  }

  99%,
  to {
    -webkit-transform: translate(-100%);
  }
}

@-moz-keyframes marquee {
  from {
    -moz-transform: translate(0%);
  }

  99%,
  to {
    -moz-transform: translate(-100%);
  }
}

@-ms-keyframes marquee {
  from {
    -ms-transform: translate(0%);
  }

  99%,
  to {
    -ms-transform: translate(-100%);
  }
}

@-o-keyframes marquee {
  from {
    -o-transform: translate(0%);
  }

  99%,
  to {
    -o-transform: translate(-100%);
  }
}

@keyframes marquee {
  from {
    transform: translate(0%);
  }

  99%,
  to {
    transform: translate(-100%);
  }
}
