#markdown {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;

  &:after,
  &:before {
    display: table;
    content: ""
  }

  &:after {
    clear: both
  }

  &>:first-child {
    margin-top: 0 !important
  }

  &>:last-child {
    margin-bottom: 0 !important
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none
  }

  .absent {
    color: #c00
  }

  .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;

    &:focus {
      outline: none
    }
  }

  blockquote,
  dl,
  ol,
  p,
  pre,
  table,
  ul {
    margin-top: 0;
    margin-bottom: 16px
  }

  hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e7e7e7;
    border: 0;
  }

  blockquote {
    font-size: 16px;
    padding: 0 1em;
    color: #777;
    border-left: .25em solid #ddd;

    &>:first-child {
      margin-top: 0;
    }

    &>:last-child {
      margin-bottom: 0;
    }
  }

  .loweralpha {
    list-style-type: lower-alpha
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;

    .octicon-link {
      color: #000;
      vertical-align: middle;
      visibility: hidden
    }

    &:hover .anchor {
      text-decoration: none;

      .octicon-link {
        visibility: visible
      }
    }

    code,
    tt {
      font-size: inherit
    }
  }

  h1 {
    font-size: 2em;
    text-align: left;
    letter-spacing: 0;
  }

  h1,
  h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee
  }

  h2 {
    font-size: 1.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    color: black;
    border-left: none;
  }

  h3 {
    font-size: 1.25em
  }

  h4 {
    font-size: 1em
  }

  h5 {
    font-size: .875em
  }

  h6 {
    font-size: .85em;
    color: #777
  }

  ol,
  ul {
    padding-left: 2em;

    .no-list {
      padding: 0;
      list-style-type: none
    }

    ol,
    ul {
      margin-top: 0;
      margin-bottom: 0
    }
  }

  li>p {
    margin-top: 16px
  }

  li+li {
    margin-top: .25em
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 16px;
      font-size: 1em;
      font-style: italic;
      font-weight: 700
    }

    dd {
      padding: 0 16px;
      margin-bottom: 16px
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;

    th {
      font-weight: 700
    }

    td,
    th {
      padding: 6px 13px;
      border: 1px solid #ddd
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;

      &:nth-child(2n) {
        background-color: #f8f8f8
      }
    }
  }

  img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff
  }

  img[align=right] {
    padding-left: 20px
  }

  img[align=left] {
    padding-right: 20px
  }

  .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent
  }

  span {

    &.frame {
      display: block;
      overflow: hidden;

      >span {
        display: block;
        float: left;
        width: auto;
        padding: 7px;
        margin: 13px 0 0;
        overflow: hidden;
        border: 1px solid #ddd
      }

      span {
        img {
          display: block;
          float: left
        }

        span {
          display: block;
          padding: 5px 0 0;
          clear: both;
          color: #333
        }
      }
    }

    &.align-center {
      display: block;
      overflow: hidden;
      clear: both;

      &>span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: center;

        img {
          margin: 0 auto;
          text-align: center
        }


      }
    }

    &.align-right {
      display: block;
      overflow: hidden;
      clear: both;

      &>span {
        display: block;
        margin: 13px 0 0;
        overflow: hidden;
        text-align: right;

        img {
          margin: 0;
          text-align: right
        }
      }
    }

    &.float-left {
      display: block;
      float: left;
      margin-right: 13px;
      overflow: hidden;

      span {
        margin: 13px 0 0
      }
    }

    &.float-right {
      display: block;
      float: right;
      margin-left: 13px;
      overflow: hidden;

      &>span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: right
      }
    }
  }

  code,
  tt {
    padding: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px;

    &:after,
    &:before {
      letter-spacing: -.2em;
      content: "\00a0"
    }

    br,
    br {
      display: none
    }
  }

  del code {
    text-decoration: inherit
  }

  pre {
    word-wrap: normal;

    &>code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0
    }

    code,
    tt {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;

      &:after,
      &:before {
        content: normal
      }
    }

  }

  .highlight {
    margin-bottom: 16px;

    pre {
      margin-bottom: 0;
      word-break: normal
    }
  }

  .highlight pre,
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px
  }

  .csv-data {

    td,
    th {
      padding: 5px;
      overflow: hidden;
      font-size: 12px;
      line-height: 1;
      text-align: left;
      white-space: nowrap
    }

    .blob-line-num {
      padding: 10px 8px 9px;
      text-align: right;
      background: #fff;
      border: 0
    }

    tr {
      border-top: 0
    }

    th {
      font-weight: 700;
      background: #f8f8f8;
      border-top: 0
    }
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb
  }

}
