<form action="/admin/register/new" method="GET">
  <div class="form-group">
    <label for="exampleInputEmail1">時刻表の登録</label>
    <input type="text" name="url" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    <small id="emailHelp" class="form-text text-muted">バスの時刻表が掲載されているページのURLを入力してください。<a
        href="https://www.teu.ac.jp/campus/access/006644.html#bustimetable" target="_blank">掲載ページはこちら</a></small>
  </div>
  <button type="submit" class="btn btn-primary">時刻表を取得</button>
  <a href="/register/reset" class="btn btn-light">時刻表のリセット</a>
</form>
