<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
  <%= link_to "sample app", '#', id: "logo", class: "navbar-brand col-sm-3 col-md-2 mr-0" %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
