<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
      <div class="container">
        <%= link_to "TUT Bus Timetable API", '/', id: "logo", class: "navbar-brand" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <!-- この下の行に mr-auto クラスを付与するだけ -->
          <ul class="navbar-nav mr-auto">　
            <li class="nav-item">
              <%= link_to "Home", '/', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "API Doc", '/api/v1/document', class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
