# OS files
.DS_Store

# Unsupported file types
*.pegjs
*.cjs
# SVG support tracked at https://github.com/prettier/prettier/issues/5322
*.svg
# Handlebars support tracked at https://github.com/prettier/prettier/issues/5340
*.hbs

# Data files
*.jpeg
*.png
*.gif
*.ttf
*.woff

/src/.prettierignore
/src/.eslintignore
