<div id="profile">
  <div class="container">
    <h2>Credits&nbsp;&amp;&nbsp;Contact</h2>
    <div class="row">
      <div class="col-lg-3 col-sm-0"></div>
      <div class="col-lg-6 col-sm-12">

        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar">
            <img alt="" src="https://github.com/sskmy1024y.png">
          </div>
          <div class="info">
            <div class="title">
              <a target="_blank" href="https://github.com/sskmy1024y">sho</a>
            </div>
            <div class="desc">東京工科大学CS学部</div>
            <div class="desc">田胡研究室所属</div>
            <div class="desc">不具合等何かあれば下記連絡先まで</div>
          </div>
          <div class="bottom">
            <a class="btn btn-primary btn-twitter btn-sm" target="_blank" href="https://twitter.com/sskmy1024r">
              <%= fa_icon("twitter") %>
            </a>
            <a class="btn btn-primary btn-sm" rel="publisher" target="_blank"
              href="https://www.facebook.com/sho.yamashita.24">
              <%= fa_icon("facebook") %>
            </a>
            <a class="btn btn-success btn-sm" rel="publisher"
              href="mailto:c011627332@edu.teu.ac.jp?subject=学バスAPIについて&amp;body=以下、メールの本文を記述してください">
              <%= fa_icon("envelope") %>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
