<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main-icon">
          <p><%= fa_icon("bus 5x", class: "large-font") %></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="jumbotron">
          <h3 class="display-4">次の学バスは……</h3>
          <ul class="nav nav-tabs nav-justified">
            <li class="active nav-item"><a href="#CurrentTimetableContent" class="nav-link active" aria-selected="true"
                data-toggle="tab">Current</a></li>
            <li class="nav-item"><a href="#LastTimetableContent" class="nav-link" data-toggle="tab"
                aria-selected="false">Last</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="CurrentTimetableContent">
              <div id="board-place"></div>
            </div>
            <div class="tab-pane" id="LastTimetableContent">
              <div id="board-place-last"></div>
            </div>
          </div>
          <p class="lead"><small>この時刻表は、<a href="https://www.teu.ac.jp/campus/access/006644.html#bustimetable"
                target="blank">東京工科大学&nbsp;スクールバス時刻表</a>の情報に基づき掲示されています。</small>
          </p>
          <hr class="my-4">
          <p><b>TUT学バスAPI</b>は、Webサイトに掲載された東京工科大学・日本工学院八王子キャンパスにおけるスクールバスの正確な時刻表情報を配信します。<small>ただし、非公式APIです。</small>
          </p>
          <a class="btn btn-primary btn-lg" href="/api/v1/document" role="button">How to Use</a>
        </div>
      </div>
    </div>
  </div>



  <h2>Client List</h2>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <div class="media">
          <img src="/assets/siri_shortcut/icon.png" class="mr-3 icon" alt="SiriShortCutIcon">
          <div class="media-body">
            <div class="head-button">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseTwo">
                <h5 class="mt-0">Siri ショートカット</h5>
              </button>
            </div>
            Siriショートカットを使えば、Siriに話しかけるだけで次のバスの時間がわかります。
          </div>
        </div>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 my-2 my-lg-0">
              <div class="card">
                <img src="/assets/siri_shortcut/for_select_details.jpeg" class="card-img-top" alt="detail-image">
                <div class="card-body">
                  <h5 class="card-title">次の学バスは？</h5>
                  <p class="card-text">行き先を指定すると、バスの出発時刻を返します。</p>
                  <a href="https://www.icloud.com/shortcuts/b476075ff4a640258734bc722978865e"
                    class="btn btn-primary get-shortcut disabled">ショートカットを取得</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-2 my-lg-0">
              <div class="card">
                <img src="/assets/siri_shortcut/for_school.jpg" class="card-img-top" alt="detail-image">
                <div class="card-body">
                  <h5 class="card-title">次の学校行きのバスは？</h5>
                  <p class="card-text">現在地から一番近いバス停から、学校行きのバスの時刻を返します。</p>
                  <a href="https://www.icloud.com/shortcuts/35a87e28db634513a8f65252f0b7cb2d"
                    class="btn btn-primary get-shortcut disabled">ショートカットを取得</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-2 my-lg-0">
              <div class="card">
                <img src="/assets/siri_shortcut/for_hachiouji.jpg" class="card-img-top" alt="detail-image">
                <div class="card-body">
                  <h5 class="card-title">次の八王子駅行きのバスは？</h5>
                  <p class="card-text">学校から八王子駅へ向かうバスの出発時刻を返します。</p>
                  <a href="https://www.icloud.com/shortcuts/62464d06af6f4705a8b4e0c6ab1fa5e9"
                    class="btn btn-primary get-shortcut disabled">ショートカットを取得</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-2 my-lg-0">
              <div class="card">
                <img src="/assets/siri_shortcut/for_minamino.jpg" class="card-img-top" alt="detail-image">
                <div class="card-body">
                  <h5 class="card-title">次のみなみ野行きのバスは？</h5>
                  <p class="card-text">学校から八王子みなみ野駅へ向かうバスの時刻を返します。</p>
                  <a href="https://www.icloud.com/shortcuts/5ba8a6d96b4c42658c620d73ad801564"
                    class="btn btn-primary get-shortcut disabled">ショートカットを取得</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-2 my-lg-0">
              <div class="card">
                <img src="/assets/siri_shortcut/for_select_details3.jpeg" class="card-img-top" alt="detail-image">
                <div class="card-body">
                  <h5 class="card-title">次の○○行きのバスは？</h5>
                  <p class="card-text">最初に指定した場所へ向かうバスの時刻を返します。</p>
                  <a href="https://www.icloud.com/shortcuts/f30af10248e9483aac99af5176eddbfe"
                    class="btn btn-primary get-shortcut disabled">ショートカットを取得</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <div class="media">
          <img src="/assets/line_bot/icon.png" class="mr-3 icon" alt="LINEBotIcon">
          <div class="media-body">
            <div class="head-button">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                <h5 class="mt-0">LINE Bot</h5>
              </button>
            </div>
            LINEのトーク画面から、次のバスの時間を調べることができます。
          </div>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5 my-2 my-lg-0">
              <div class="card">
                <img src="/assets/line_bot/screen1.jpeg" class="card-img-top" alt="detail-image">
                <div class="card-body">
                  <h5 class="card-title">次のバスの時間を教えるよ</h5>
                  <p class="card-text">出発場所を指定すると、次のバスの出発時刻が返信されます。</p>
                  <a href="https://line.me/R/ti/p/%40jft2925j" target="_blank" alt="友達追加"><img height="36" border="0"
                      alt="友達追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
                  <%# <a class="btn btn-light disabled" role="button">調整中</a> %>
                  <small>Made by <a href="http://twitter.com/nakainu_">@nakainu</a></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingMore">
        <div class="media">
          <img src="/assets/empty_icon.png" class="mr-3 icon" alt="EmptyIcon">
          <div class="media-body">
            <div class="head-button">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMore"
                aria-expanded="false" aria-controls="collapseTwo">
                <h5 class="mt-0">And more...</h5>
              </button>
            </div>
            APIを使って、オリジナルのクライアントを作ってみよう！
          </div>
        </div>
      </div>
      <div id="collapseMore" class="collapse" aria-labelledby="headingMore" data-parent="#accordionExample">
        <div class="card-body">
          <p class="card-text">
            この&nbsp;TUT学バスAPI<small>(非公式)</small>&nbsp;は、誰でも無料で使えます。APIを使って、オリジナルのクライアントを作ってみてください！<br><br>
            なおクライアントを制作・公開していただけた方は、この<b>クライアント一覧</b>に追加させて頂きたいと思います。<br>
            下記の連絡先までご連絡ください！</p>
          <a href="mailto:c011627332@edu.teu.ac.jp?subject=学バスAPIのクライアント作成について&amp;body=以下、メールの本文を記述してください"
            alt="メール"><%= fa_icon("envelope") %>&nbsp;C011627332@edu.teu.ac.jp</a>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  function renderBulletinBoard(data, target_id) {
    $(`#${target_id}`).html("")

    if (data.length < 1) {
      let board = $(
        `<div class="bulletin-board"><div class="board-header"><div class="destination"><span class="place">休日</span></div></div></div>`
      )
      let body = $("<div />").addClass("board-body");
      const col = $(
        `<div class="board-body-column"><div class="row"><div class="detail col-12 col-md-12"><div class="marquee">
                      <p><span style="color:orange;">本日の運行はありません</span></p>
                    </div></div><div></div>`
      )
      body.append(col)
      board.append(body)
      $(`#${target_id}`).append(board)
      return true
    }

    data.forEach(list => {
      let board = $("<div />").addClass("bulletin-board");
      const header = $(
        `<div class="board-header"><div class="destination"><span class="place">${list.arrival.name}</span><span>行き（${list.departure.name}発）</span></div></div>`
      )
      board.append(header)

      let body = $("<div />").addClass("board-body");
      const labels = ["先発", "次発", "次々発", "四発", "五発"];
      const shuttle_text = `<p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                          style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">があります。</span></p>`;
      if (list.timetables.length == 1) {
        const timetable = list.timetables[0];
        const detail =
          `<div class="marquee"><p><span style="color:orange;">${list.arrival.name}</span><span style="color:greenyellow;">行き</span><span
                          style="color:red;">最終バス</span><span style="color:greenyellow;">です。</span></p>${timetable.is_shuttle ? shuttle_text : ""}</div>`
        const col = $(`<div class="board-body-column">
                <div class="row">
                  <div class="type col-6 col-md-3"><span style="color:red;">最終</span></div>
                  <div class="time col-6 col-md-3">${formatTime(new Date(timetable.departure_time))}</div>
                  <div class="detail col-12 col-md-6">${detail}</div><div></div>`)
        body.append(col)
      } else if (list.timetables.length > 0) {
        list.timetables.forEach((timetable, index) => {
          const detail = timetable.is_shuttle ? `<div class="marquee">${shuttle_text}</div>` : ""
          const col = $(`<div class="board-body-column">
                <div class="row">
                  <div class="type col-6 col-md-3">${labels[index]}</div>
                  <div class="time col-6 col-md-3">${formatTime(new Date(timetable.departure_time))}</div>
                  <div class="detail col-12 col-md-6">${detail}</div><div></div>`)
          body.append(col)
        })
      } else {
        const detail = `<div class="marquee">
                      <p><span style="color:orange;">本日の運行は終了しました</span></p>
                    </div>`
        const col = $(
          `<div class="board-body-column"><div class="row"><div class="detail col-12 col-md-12">${detail}</div><div></div>`
        )
        body.append(col)
      }
      board.append(body)
      $(`#${target_id}`).append(board)
    });
  }

  function loadTimetable() {
    fetch(`${location.protocol}//${location.host}/api/v1/timetables/internal`)
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error();
        }
      })
      .then(datas => renderBulletinBoard(datas.data, 'board-place'))
  }

  function loadLastTimetable() {
    fetch(`${location.protocol}//${location.host}/api/v1/timetables/internal/last`)
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error();
        }
      })
      .then(datas => renderBulletinBoard(datas.data, 'board-place-last'))
  }

  function formatTime(date, format) {
    if (!format) format = 'hh:mm';
    format = format.replace(/YYYY/g, date.getFullYear());
    format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
    format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));
    format = format.replace(/hh/g, ('0' + date.getHours()).slice(-2));
    format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
    format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
    if (format.match(/S/g)) {
      var milliSeconds = ('00' + date.getMilliseconds()).slice(-3);
      var length = format.match(/S/g).length;
      for (var i = 0; i < length; i++) format = format.replace(/S/, milliSeconds.substring(i, i + 1));
    }
    return format;
  };

  $(() => {
    const isIOS = /iP(hone|(o|a)d)/.test(navigator.userAgent)
    if (isIOS) {
      $(".get-shortcut").removeClass("disabled")
      $('#collapseOne').addClass('show')
    } else {
      $('#collapseTwo').addClass('show')
    }

    loadTimetable()
    loadLastTimetable()

    const l = new Date()
    let t = {
      date: l.getDate(),
      min: l.getMinutes(),
      hour: l.getHours()
    }

    setInterval(() => {
      const _l = new Date()
      const _t = {
        date: _l.getDate(),
        min: _l.getMinutes(),
        hour: _l.getHours()
      }
      if (t.min !== _t.min || t.hour !== _t.hour) loadTimetable()
      if (t.date !== _t.date) loadLastTimetable()
      t = _t
    }, 1000)
  })
</script>
