<div id="home" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="main-icon">
        <p><%= fa_icon("bus 5x", class: "large-font") %></p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="jumbotron">
        <h3 class="display-4">次の学バスは……</h3>
        <div class="bulletin-board">
          <div class="board-header">
            <div class="destination"><span class="place">図書館棟前</span><span>行き（八王子みなみ野発）</span></div>
          </div>
          <div class="board-body">
            <div class="board-body-column"><span class="type">先発</span> <span class="time">11:00</span>
              <div class="marquee detail">
                <p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                    style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">がございます。</span></p>
              </div>
            </div>
            <div class="board-body-column"><span class="type">次発</span> <span class="time">11:00</span>
              <div class="marquee detail">
                <p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                    style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">がございます。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="bulletin-board">
          <div class="board-header">
            <div class="destination"><span class="place">八王子みなみ野駅</span><span>行き（図書館棟前発）</span></div>
          </div>
          <div class="board-body">
            <div class="board-body-column"><span class="type">先発</span> <span class="time">11:00</span>
              <div class="marquee detail">
                <p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                    style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">がございます。</span></p>
              </div>
            </div>
            <div class="board-body-column"><span class="type">次発</span> <span class="time">11:00</span>
              <div class="marquee detail">
                <p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                    style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">がございます。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="bulletin-board">
          <div class="board-header">
            <div class="destination"><span class="place">図書館棟前</span><span>行き（八王子みなみ野発）</span></div>
          </div>
          <div class="board-body">
            <div class="board-body-column"><span class="type">先発</span> <span class="time">11:00</span>
              <div class="marquee detail">
                <p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                    style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">がございます。</span></p>
              </div>
            </div>
            <div class="board-body-column"><span class="type">次発</span> <span class="time">11:00</span>
              <div class="marquee detail">
                <p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                    style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">がございます。</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="bulletin-board">
          <div class="board-header">
            <div class="destination"><span class="place">図書館棟前</span><span>行き（八王子みなみ野発）</span></div>
          </div>
          <div class="board-body">
            <div class="board-body-column"><span class="type">先発</span> <span class="time">11:00</span>
              <div class="marquee detail">
                <p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                    style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">がございます。</span></p>
              </div>
            </div>
            <div class="board-body-column"><span class="type">次発</span> <span class="time">11:00</span>
              <div class="marquee detail">
                <p><span style="color:orange;">シャトル運行中</span><span style="color:greenyellow;">のため、</span><span
                    style="color:orange;">時間が前後する場合</span><span style="color:greenyellow;">がございます。</span></p>
              </div>
            </div>
          </div>
        </div>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
          to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
</div>



<h2>クライアント一覧</h2>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <div class="media">
        <img src="/assets/siri_shortcut/icon.png" class="mr-3 icon" alt="SiriShortCutIcon">
        <div class="media-body">
          <div class="head-button">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseTwo">
              <h5 class="mt-0">Siri ショートカット</h5>
            </button>
          </div>
          Siriショートカットを使えば、Siriに話しかけるだけで次のバスの時間がわかります。
        </div>
      </div>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="/assets/siri_shortcut/for_select_details.jpeg" class="card-img-top" alt="detail-image">
              <div class="card-body">
                <h5 class="card-title">次の学バスは？</h5>
                <p class="card-text">行き先を指定すると、バスの出発時刻を<b>アラート</b>で返します。</p>
                <a href="https://www.icloud.com/shortcuts/52139d339852477bba5f052a67119301"
                  class="btn btn-primary get-shortcut disabled">ショートカットを取得</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="/assets/siri_shortcut/for_select_details3.jpeg" class="card-img-top" alt="detail-image">
              <div class="card-body">
                <h5 class="card-title">次の学校行きのバスは？</h5>
                <p class="card-text">現在地から一番近いバス停から、学校行きのバスの時刻を返します。</p>
                <a href="https://www.icloud.com/shortcuts/52139d339852477bba5f052a67119301"
                  class="btn btn-primary get-shortcut disabled">ショートカットを取得</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
        moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
        wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
        anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
        probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
        moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
        wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
        anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
        probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

</div>

<script>
  const isIOS = /iP(hone|(o|a)d)/.test(navigator.userAgent)
  if (isIOS) {
    $(".get-shortcut").removeClass("disabled");
  }
</script>
